@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Myriad Pro Light"), url("../fonts/MyriadPro-Light.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Myriad Pro Regular"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Myriad Pro Bold"), url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}

h1 {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 700; /* Bold */
}

h2 {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400; /* Regular */
}

h3 {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 300; /* Light */
}

body {
    margin: 0;
}

header {
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    padding: 5px;
    font-size: 0.8em;
}

header img, header h2 {
    margin-right: 15px; /* Agrega espacio a la derecha */
}

.logoKario {
    width: 2vw;
    margin-left: 10vw;
}

.añadir {
    margin-left: 8vw;
    margin-right: 0.3vw;
    width: 1.3vw;
}

.refrescar {
    margin-left: 5vw;
    margin-right: 0.3vw;
    width: 1.3vw;
}

.eliminar {
    margin-left: 5vw;
    margin-right: 0.3vw;
    width: 1.3vw;
}

.reportBug {
    margin-left: 10vw;
    margin-right: 0.3vw;
    width: 1.5vw;
}

.ayuda {
    margin-left: 5vw;
    margin-right: 0.3vw;
    width: 1.5vw;
}

.settings {
    margin-left: 17vw
}

.notifications {
    margin-left: 0vw;
}

.fotoPerfil {
    width: 2.5vw;  /* Asegura que el ancho sea igual */
    height: 2.5vw; /* Asegura que la altura sea igual */
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 430px) {
    
    .logoKario {
        display: none;
    }

    header h2{
        display: none;
    }   
    .añadir {
        margin-left: 4vw;
        margin-right: 0.3vw;
        width: 4vw;
    }
    
    .refrescar {
        margin-left: 5vw;
        margin-right: 0.3vw;
        width: 4vw;
    }
    
    .eliminar {
        margin-left: 5vw;
        margin-right: 0.3vw;
        width: 3vw;
    }
    
    .reportBug {
        margin-left: 10vw;
        margin-right: 0.3vw;
        width: 4vw;
    }
    
    .ayuda {
        margin-left: 5vw;
        margin-right: 0.3vw;
        width: 4vw;
    }
    
    .settings {
        margin-left: 25vw;
        width: 3vw;
    }
    
    .notifications {
        margin-left: 0vw;
        width: 3vw;
    }
    
    .fotoPerfil {
        width: 7vw;  /* Asegura que el ancho sea igual */
        height: 7vw; /* Asegura que la altura sea igual */
        object-fit: cover;
        
}