@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Myriad Pro Light"), url("../fonts/MyriadPro-Light.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Myriad Pro Regular"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
    font-family: "Myriad Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Myriad Pro Bold"), url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}

h1 {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 700; /* Bold */
}

h2 {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400; /* Regular */
}

h3 {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 300; /* Light */
}

body {
    margin: 0;
    background-color: black;

}

.fondo {
    border: 2px solid black;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.fondoImagen {
    width: 100%;    /* Ancho máximo del contenedor */
    height: 100%;  
    object-fit: cover;
    object-position: center 20%;
}


.logo {
    position: absolute;
    width: 9%;
    top: 40vh;
    left: 45vw;
    animation: logoAparicion 2.5s ease-in-out forwards;
}

@keyframes logoAparicion {
    0% {
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.LogIn {
    position: absolute;
    border: 1px solid black;
    width: 30vw;
    height: 45vh;
    padding: 7vh;
    border-radius: 40px ;
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra verticalmente (si el contenedor tiene altura) */
    align-items: center; /* Centra horizontalmente */
    text-align: center;
    background-color: white;
    top: 20vh;
    left: 30vw;
    animation: logInAparicion 0.5s ease-in forwards;
    animation-delay: 2.5s;
    opacity: 0; /* Cambiar a 0*/
}

@keyframes logInAparicion {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.LogIn img {
    width: 12%;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 0vh;
}

.primerH3 {
    font-size: 1em;
    margin-bottom: 0vh;
}

.formLogIn {
    width: 80%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formLogIn label{
    text-align: left;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

.formLogIn input {
    margin-top: 3px;
    margin-bottom: 12px;
    border-radius: 12px;
    border: 1px solid gray;
    width: 100%;
    height: 2.5em;
    padding: 0px 10px;
}

.formLogIn button {
    width: 50%;
    margin-top: 8px;
    background-color: #ff6f2c;
    padding: 13px;
    border: none;
    border-radius: 22px;
    font-family: 'Myriad Pro', sans-serif;
    color: white;
    font-size: 1em;
    align-self: center;
}

button:hover {
    background-color: #b4562a;
    cursor: pointer;
    transform: scale(1.05); 
    transition: 0.3s ease-in-out; 
}

.segundoH3 {
    font-size: 0.7em;
}

@media (max-width: 430px) {
    .logo {
        width: 20%;
        top: 40vh;
        left: 40vw;
    }

    .LogIn {
        width: 55vw;
        height: 60vh;
        padding: 5vh;
        top: 14vh;
        left: 10vw;
    }

    .LogIn img {
        width: 25%;
    }

    .formLogIn button {
        width: 80%;
    }

    .formLogIn {
        margin-top: 2em;
        width: 100%;
        left: 5%;
    }

    .formLogIn input {
        width: 90%;
    }
}